@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap');

body{
    font-family: 'Titillium Web', sans-serif;
}

.line{
    width: 100px;
    height: 5px;
    background-color: #3d486228;
    margin: 25px auto;
}

.line-contact{
    width: 100px;
    height: 5px;
    background-color: #273a71;
    margin: 25px auto;
}

a:hover{
    text-decoration: none;
}

/* Navigation and first section */

.navigation{
    padding-top: 50px;
    background-color: #86509c;
    color: #f7f3ea;
}

.navigation a:focus{
    background-color: rgba(96, 26, 117,0.3);
    padding: 5px 10px;
    border-radius: 5px;
}

.navigation .nav-bar span{
    font-weight: 400;
    color: #ffffff;
}

.navigation .under-nav{
    padding-top: 150px;
}   

.navigation .under-nav h1{
    font-size: 42px;
    font-weight: 700;
}   

.navigation .under-nav .button-orange{
    padding: 60px 0 160px 0;
}

.navigation .under-nav .button-orange span{
    display: block;
    padding: 15px 70px;
    width: max-content;
    margin: 0 auto;

    font-weight: 600;
    font-size: 18px;
    color: white;

    background-color: #eb7d4c;
    border-bottom: 5px solid #c76a3f;
    border-radius: 5px;

    transition: .3s;
    cursor: pointer;
}

.button-orange span:hover{
    transform: scale(1.1);
    transition: .3s;
}

.navigation img{
    width: 100%;
}

.navigation .logo img{
    width: 100px;
}

/* Services */
.services{
    background-color: #17c2a4;
    color: #ffffff;
}

.services p{
    color: #ffffff;
}


.service-header{
    color: #ffffff;
    padding-top: 100px;
}

.service-header p{
    font-size: 19px;
    padding-bottom: 50px;
    color: #ffffff;
}

.service-header .row:nth-child(1) h1{
    font-weight: 700;
    letter-spacing: 5px;
}


.services .icons-text{
    padding: 20px;
    padding-bottom: 100px;
}

.services h3{
    padding: 50px 0 15px 0;
    font-size: 24px;
    font-weight: 700;
}

.services .row:nth-child(4) p{
    padding-bottom: 100px;
}


/* Team */

.team {
    background-color: #e7f1f8;
    color: #3c4761;
}

.team-header{
    padding-top: 100px;
}

.team-header p{
    font-size: 19px;
    padding-bottom: 50px;
}

.team-header h1{
    font-weight: 700;
    letter-spacing: 5px;
    color: #3c4761;
}

.team .cards{
    padding-top: 50px;
    padding-bottom: 100px;
}

.team .cards img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.team .cards h4{
    padding-top: 25px;

    color: #3c4761;
    font-weight: 700;
}

.team .cards p{
    padding: 20px;
}

.team .cards h5{
    font-size: 18px;
    color: #30bae7;
}

.team .cards i{
    color: white;
    background-color: #bdd1df;
    font-size: 16px;

    margin: 0 3px;
    padding: 8px;
    width: 31px;
    border-radius: 100%;
}

/* Skills */

.skills{
    background-color: #ffffff;
}

.skills .team-header p{
    padding: 0 250px;
}

.skills .skill-icons h4{
    padding-top: 30px;
    padding-bottom: 100px;

    font-weight: 700;
    color: #3c4761;
}

.skills .skill-icons{
    padding-top: 100px;
}

/* Portfolio */

.portfolio{
    background-color: #ffdd99;
}

.portfolio .team-header h1,
p,
span{
    color: #393939;
}

.portfolio .team-header p{
    padding: 0 200px;
}

.portfolio .team-header .menu span:hover{
    background-color: #ffffff;
}

.portfolio .team-header .menu span {
    background-color: #ebc985;
    border-radius: 4px;
    padding: 5px 30px;
    margin: 5px;
    font-weight: 600;
}

.portfolio .team-header .row:nth-child(4) .menu{
    padding-top: 25px;
    margin: 0 auto;
}

.portfolio .laptop-images img{
    padding-top: 80px;
    width: 100%;
}

.portfolio .laptop-images h4{
    font-size: 20px;
    padding-top: 30px;
}

.portfolio-button{
    padding: 100px 0 160px 0;
}

.portfolio-button span{
    display: block;
    padding: 15px 60px;
    width: max-content;
    margin: 0 auto;

    font-weight: 600;
    font-size: 18px;
    color: white;

    background-color: #17c2a4;
    border-bottom: 5px solid #14a58c;
    border-radius: 5px;

    transition: .3s;
    cursor: pointer;
}

.portfolio-button span:hover{
    transform: scale(1.1);
    transition: .3s;
}

/* About-us */

.about-us{
    background-color: #d74680;
    color: #ffffff;
}

.about-us .service-header p{
    padding-bottom: 0;
}

.about-us img{
    width: 100px;
}

.about-cards img{
    border-radius: 100%;
}

.space-card{
    padding-top: 100px;
    padding-right: 50px;
}

.space-card h5{
    color: #f7dae6;
}   

.space-card h4{
    position: relative;
    top: 10px;

    font-weight: 700;
    letter-spacing: 1px;
}   

.space-card p{
    color: #ffdd99;
    font-size: 18px;
}

.space-about-down{
    padding-bottom: 100px;
}

/* Get in touch */
.get-touch{
    background-color: #3c5499;
}

.get-touch .forma{
    padding-bottom: 160px;
}

.get-touch .forma input, 
textarea{
    width: 100%;
    padding: 15px 25px;
    border-radius: 5px;
    border: 0;
    background-color: #273a71;
    color: #ffffff;
    font-size: 17px;
}

.get-touch .forma input::placeholder{
    color: #ffffff;
}

.get-touch .forma textarea{
    margin-top: 30px;
}

.get-touch .forma textarea::placeholder{
    color: #ffffff;
}

.contact-button{
    padding: 100px 0 0 0;
}

.contact-button span{
    display: block;
    width: max-content;
    margin: 0 auto;
    padding: 15px 80px;
    font-weight: 600;
    font-size: 18px;
    color: white;

    background-color: #30bae7;
    border-bottom: 5px solid #299ec5;
    border-radius: 5px;

    transition: .3s;
    cursor: pointer;
}

.contact-button span:hover{
    transform: scale(1.1);
    transition: .3s;
}

/* Social Media */

.social{
    background-color: #344b8e;
}

.social .social-media{
    margin: 0 auto;
    padding: 30px;
}

.social .social-media span{
    color: #ffffff;
    margin: 0 40px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;

    cursor: pointer;
    transition: .3s;
}

.social .social-media span:hover{
    color: #30bae7;
    transition: .3s;
}

/* responsive */

@media (max-width: 1200px){
    .form-space{
        padding-top: 20px;
    }
    .all-nav{
        text-align: center;
    }
    .team .cards .social-links{
        padding-bottom: 50px;
    }
    .navigation .logo{
        padding-bottom: 20px;
    }
}

@media (max-width: 991px){
    .skills .team-header p {
        padding: 0;
    }
    .portfolio .team-header p {
        padding: 0;
    }
}

@media (max-width: 768px){
    .space-card {
        padding-top: 45px;
    }
    .service-header p {
        padding-bottom: 0;
    }
    .icons-text > div{
        padding-top: 50px;
    }
    .team-header p {
        padding-bottom: 0;
    }
    .team .cards img{
        margin-top: 50px;
    }

    .team .cards p {
        padding: 10px 20%;
    }

    .get-touch .service-header p {
        padding-bottom: 60px;
    }
    .social .social-media {
        padding-left: 60px;
    }
}